{% extends 'base.html' %}
{% block title %}الصفحة الرئيسية{% endblock %}
{% block content %}
    <section id="featured-products"></section>
        
        <div class="cart-btn-box">
            <a href="{% url 'drivers_list' %}">
                <i class="fas fa-cart-plus"></i>   قائمة السائقين
            </a>
        </div>
        <div class="cart-btn-box">
            <a href="">
                <i class="fas fa-cart-plus"></i>   اضافة شحنة 
            </a>
        </div>
        <div class="cart-btn-box">
            <a href="">
                <i class="fas fa-cart-plus"></i>   في الشحن
            </a>
        </div>
        <div class="cart-btn-box">
            <a href="">
                <i class="fas fa-cart-plus"></i>   تم التنزيل
            </a>
        </div>
        <div class="cart-btn-box">
            <a href="">
                <i class="fas fa-cart-plus"></i>  تم التسليم 
            </a>
        </div>
    </section>
{% endblock %}
