<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <DIV>
        <a href="{% url 'drivers_list' %}"> قائمة السائقين</a>
    </DIV>
    <DIV>
        <a href=""> اضافة شحنة </a>
    </DIV>
    <DIV>
        <a href=""> في الشحن</a>
    </DIV>
    <DIV>
        <a href=""> تم التنزيل </a>
    </DIV>
    <DIV>
        <a href=""> تم التسليم </a>
    </DIV>
    
    
   
  
    
</body>
</html>